.nav{
    background-color: #333333;
    color: white
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-links{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    width: 40%;
}



a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color:blue;
    color: white;
    box-shadow:3px, 3px, black;
    height: 35px;
    width: 85px;
    border: none;
    box-shadow: 5px 5px black;
}